<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Test things</title>
    <style>
    a:link, a:visited {
        background-color: #B8B8B8;
        color: black;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: "Courier New";
    }

    a:hover, a:active {
       background-color: #7F7F7F;
    }

    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div align="right">

    <a href="/login">Sign in</a> <a href="/register">Sign up</a>


</div>
</body>
</html>